<template>
  <form class="minify-form">
    <p class="control has-addons">
      <input class="input is-expanded" type="text" placeholder="Paste a link to shorten">
      <button class="button is-primary">MINIFY</button>
    </p>
  </form>
</template>

<script>
  export default {
  }

</script>

<style lang="sass">

</style>
