<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Hello Mini!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
        <!-- <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>"> -->
    </head>

    <body>
        <header>
            <nav class="nav has-shadow" id="top">
                <div class="container">
                    <div class="nav-left">
                        <a class="nav-item" href="../index.html">
                            <!-- <img src="<%= static_path(@conn, "/images/logo-64x.png" ) %>" alt="logo-64x.png" >mi.ni/ -->
                            <!-- <img src="../images/bulma.png" alt="Description"> -->
                        </a>
                    </div>
                    <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <div class="nav-right nav-menu">
                        <a class="nav-item is-tab is-active">
                            Home
                        </a>
                        <a class="nav-item is-tab">
                            Features
                        </a>
                        <a class="nav-item is-tab">
                            Team
                        </a>
                        <a class="nav-item is-tab">
                            Help
                        </a>
                        <span class="nav-item">
                            <a class="button">
                                Log in
                            </a>
                            <a class="button is-info">
                                Sign up
                            </a>
                        </span>
                    </div>
                </div>
            </nav>
        </header>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main">
            <%= render @view_module, @view_template, assigns %>
        </main>
        <!-- <script type="text/javascript" src="../js/bulma.js"></script> -->
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
