<div id="app">
    <div>
        <section class="section" >
            <div class="container content">
                <p class="title">Take control of your links</p>
                <div>
                    <form class="minify-form" @submit.prevent="validateBeforeSubmit" action="">
                        <p class="control has-addons has-icon">
                            <input name="url" v-model="url" v-validate:url.initial="'required|url:{required_protocol}'" class="input is-expanded" type="text" placeholder="Paste a link to shorten" autocomplete="off">
                            <span class="icon is-small"> <i class="fa fa-link"></i> </span>
                            <button type="submit" class="button is-primary">MINIFY</button>
                            <p class="help is-danger" v-show="errors.has('url') && url != ''">A valid URL is required and must include the protocol.</p>
                        </p>
                    </form>
                </div>
            </div>
        </section>
        <section class="section" v-if="previous.length > 0">
            <div class="container content" >
                <h3>previously minified</h3>
                <div class="box" v-for="link in previous">
                    <article class="media" >
                        <div class="media-left" >
                            <figure class="image is-64x64" >
                                <img src="<%= static_path(@conn, "/images/logo-64x.png" ) %>" alt="logo-64x.png" >
                                <!-- <img src="http://bulma.io/images/placeholders/128x128.png"  alt="Image" > -->
                            </figure>
                        </div>
                        <div class="media-content" >
                            <div class="content" >
                                    <p class="title"> {{ link.title || link.location }} </p>
                                    <p class="subtitle"> {{ link.description || "Description"}} </p>
                            </div>
                            <nav class="level" >
                                <div class="level-left" >
                                    <strong class="level-item"><a v-bind:href="link.address" target="_blank">{{ link.address }}</a></strong>
                                    <a class="level-item" >
                                        <span class="icon is-small" ><i class="fa fa-retweet" ></i></span>
                                    </a>
                                    <a class="level-item" >
                                        <span class="icon is-small" ><i class="fa fa-heart" ></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</div>
